<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- my-css -->
    <link rel="stylesheet" href="/my-css/carousel.css">

    <!-- media-querie -->
    <link rel="stylesheet" href="/media-querie/mq_carousel.css">
</head>
<body>
    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item height-30 active">
                <div class="position-absolute desc-item">
                    <h5 class="ml-3 f-w-b t-d-u fs-16 cl-white">
                        Homme
                    </h5>
                    <p class="cl-black width-30 m-w-95 text-shadow-1 fs-11 pr-2">
                        Des vêtements et chaussures moderne et traditionnels de qualité pour tous vos activités au travail, SPORT, réunion, a l’école, a l’université, mariage et pour vos déplacements ordinaires.
                    </p>
                    <div class="wrap">
                        <a href="/homme/vetements" class="m-2 m-lg-3">
                            <button class="bg-black br-06 bx-s-10 py-2 out-n border-0 px-4 fs-075 cl-white hover-scale-11">
                                <i class="fas fa-tshirt"></i>
                                vêtements
                            </button>
                        </a>
                        <a href="/homme/chaussures" class="m-2 m-lg-3">
                            <button class="bg-black br-06 bx-s-10 py-2 out-n border-0 px-4 fs-075 cl-white hover-scale-11">
                                <i class="fas fa-shoe-prints"></i>
                                chaussures
                            </button>
                        </a>
                        <a href="/accessoires?genre=homme" class="m-2 m-lg-3">
                            <button class="bg-black br-06 bx-s-10 py-2 out-n border-0 px-4 fs-075 cl-white hover-scale-11">
                                <i class="fab fa-shopify"></i>
                                accessoires
                            </button>
                        </a>
                    </div>
                </div>
                <img src="/website/m1.jpg" class="d-block w-100 h-100 img_carousel">
            </div>
            <div class="carousel-item height-30">
                <div class="position-absolute desc-item">
                    <h5 class="ml-3 cl-white f-w-b t-d-u fs-16">Femme</h5>
                    <p class="cl-black width-30 m-w-95 text-shadow-1 fs-11 pr-2">
                        Des vêtements et chaussures moderne et traditionnels TRES JOLIES et de qualité pour tous vos activités MARIAGE, BAPTEME, CEREMONIES, EVENEMENTS, au travail, a l’université et vos déplacements ordinaires.
                    </p>
                    <div class="wrap">
                        <a href="/femme/vetements" class="m-2 m-lg-3">
                            <button class="bg-orange-woman br-06 bx-s-10 py-2 out-n border-0 px-4 fs-075 cl-white hover-scale-11">
                                <i class="fas fa-tshirt"></i>
                                vêtements
                            </button>
                        </a>
                        <a href="/femme/chaussures" class="m-2 m-lg-3">
                            <button class="bg-orange-woman br-06 bx-s-10 py-2 out-n border-0 px-4 fs-075 cl-white hover-scale-11">
                                <i class="fas fa-shoe-prints"></i>
                                chaussures
                            </button>
                        </a>
                        <a href="/accessoires?genre=femme" class="m-2 m-lg-3">
                            <button class="bg-orange-woman br-06 bx-s-10 py-2 out-n border-0 px-4 fs-075 cl-white hover-scale-11">
                                <i class="fab fa-shopify"></i>
                                accessoires
                            </button>
                        </a>
                    </div>
                </div>
                <img class="d-block w-100 h-100 img_carousel" src="/website/m2.jpg">
            </div>
            <div class="carousel-item height-30">
                <img class="d-block w-100 h-100 img_carousel" src="/website/m4.jpg">
            </div>
            <div class="carousel-item height-30">
                <img class="d-block w-100 h-100 img_carousel" src="/website/m5.jpg">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" >
          <span aria-hidden="true">
            <i class="fas fa-angle-double-left" style="font-size: 1.5rem; color: black !important;"></i>
          </span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span aria-hidden="true">
            <i class="fas fa-angle-double-right cl-black" style="font-size: 1.5rem; color: black !important;""></i>
          </span>
          <span class="sr-only">Next</span>
        </a>
    </div>
</body>
</html>

