<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>

    <section>
        <div class="gr-blue py-5 wrap-center text-white">
            <div class="m-3 m-lg-5">
                <h5 class="text-center fs-14 f-w-b text-white">Conditions de vente</h5>
                <div class="column-center fs-08">
                    <div class="mb-2">
                        <i class="fab fa-whatsapp"></i>
                        Commander sur whatsapp
                    </div>
                    <div class="mb-2">
                        <i class="fas fa-tshirt"></i>
                        Porter avant de payer
                    </div>
                    <div class="mb-2">
                        <i class="fas fa-motorcycle"></i>
                        Livraison en moins de 24h
                    </div>
                    <div class="mb-2">
                        <i class="fas fa-coins"></i>
                        Possibilite de reduction
                    </div>
                    <div class="mb-2">
                        <i class="fas fa-clock"></i>
                        Support 7j/7, 24h/24
                    </div>
                </div>
            </div>
            <div class="m-3 m-lg-5">
                <h5 class="text-center fs-14 f-w-b text-white">Contacts et Adresse</h5>
                <div class="column-center fs-08">
                    <div class="mb-2">
                        <i class="fas fa-phone"></i>
                        77 778 15 62 / 76 564 26 01 / 70 563 67 87
                    </div>
                    <div class="mb-2">
                        <i class="fas fa-home"></i>
                        Station Keur Massar en face banque CBEAO
                    </div>
                    <div class="mb-2">
                        <i class="fas fa-bus"></i>
                        Bus passant chez nous : 27, 45, 30, 101
                    </div>
                    <div class="mb-2">
                        <i class="fas fa-envelope"></i>
                        clother-shop@gmail.com
                    </div>
                    <div class="mb-3">
                        <i class="fas fa-clock"></i>
                        Horaires
                        <div class="ml-3">
                            <div class="mb-2">Lun - Ven : 08h - 21h</div>
                            <div>Sam : 09 -21h</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-3 m-lg-5">
                <h5 class="text-center fs-14 f-w-b text-white">Abonné & Suivez-nous</h5>
                <div>
                    <a href="" class="m-1 m-lg-2">
                        <img src="/logo/f.jpg" class="width-3 height-3 bx-s-10" alt="">
                    </a>
                    <a href="" class="m-1 m-lg-2">
                        <img src="/logo/w.jpg" class="width-3 height-3 bx-s-10" alt="">
                    </a>
                    <a href="" class="m-1 m-lg-2">
                        <img src="/logo/i.jpg" class="width-3 height-3 bx-s-10 br-08" alt="">
                    </a>
                    <a href="" class="m-1 m-lg-2">
                        <img src="/logo/t.jpg" class="width-3 height-3 bx-s-10" alt="">
                    </a>
                    <a href="" class="m-1 m-lg-2">
                        <img src="/logo/tt.jpg" class="width-3 height-3 bx-s-10 br-08" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center bg-black text-white fs-085 py-4 px-3">
            Clother-shop, vente de vetements, chaussures, accessoires pour homme et femme ANNEE @2023.
        </div>
    </section>
</body>
</html>